pandas == 1.4.2             # File manipulation
python-dateutil == 2.8.2    # Manage Date and Time
scikit-learn == 1.1.1       # To encode strings
ipdb == 0.13.9              # For Python debugging
psycopg2-binary === 2.9.3   # For postgresql
matplotlib == 3.6.2         # For plot
seaborn == 0.12.1           # For statistical visualization
